body {
  background-color: $parent-bg;
  color: $color;
  user-select: none; 
}

section div {
  border-radius: 3px;
  background-color: $bg;
}

.border {
  border-color: $border!important;
  border-width: 2px!important;
}