body {
  background-color: $parent-bg;
  color: $color;
  user-select: none; 
}

section div {
  border-radius: 3px;
  background-color: $bg;
}

.border {
  border-color: $border!important;
  border-width: 2px!important;
}

a {
  display: block;
  margin: 10% auto 10px;
  width: max-content;
}

.math-symbol {
  width: max-content;
  // margin-top: 7px;

}
.math-symbol-img {
  height: 25px;
  width: 25px;
}

svg {
  height: 20px;
  width: 20px;
  display: block;
}

button {
  touch-action: manipulation;
}